<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(man, index) of people">{{ index + 1 }} {{ man }}</li>
    </ul>
    <hr>
    <ul>
        <li v-for="(type, key, index) in cars">{{ index }} - {{ key }}: {{ type }}</li>
    </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
	new Vue({
		el: '#app',
		data: {
            people: [
            	'Elena',
                'Alex',
                'Stas'
            ],
            cars: {
            	color:' white',
                type: 'sedan',
                doors: 4
            }

		},
		methods: {
		}
	});
</script>
</body>
</html>